:root {
    --primary: #ffffff;
    --secondary: #000000;
}

* {
    font-size: 1.1rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
}

body {
    background-image: url('images/background.jpg');
    background-repeat: repeat;
    background-position: center;
    background-size: auto;
    background-color: rgb(180, 180, 180);
    background-blend-mode: multiply;
}

.logo {
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 5vh;
    background: #1f1f1f;
    background: linear-gradient(90deg, rgba(25,25,25,1) 0%, rgba(18,18,18,1) 52%, rgba(40,40,40,1) 100%);
    z-index: 999;
    text-align: center;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    z-index: 10;
}

.nav-links > * {
    padding: 15px 60px;
    list-style: none;
}

i { color: rgb(220, 220, 220); }

.nav-links a {
    text-decoration: none;
    letter-spacing: .2rem;
    color: rgb(220, 220, 220);
}

div.aboutme {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: rgb(53, 53, 53, 98%);
    max-width: 60%;
    height: 100%;
    margin: 0 auto;
}

div.aboutme > * {
    color: rgb(220,220,220);
    padding: 0 3rem;
    line-height: 1.8rem;
}

div.aboutme > *:nth-child(1) {
    padding-top: 1rem;
}

@media (max-width: 750px) {
    .logo {
        display: none;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    * {
        font-size: .9rem;
    }

    div.aboutme {
        max-width: 80%;
    }
}