:root {
    --primary: #ffffff;
    --secondary: #000000;
}

* {
    font-size: 72px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: rgb(65, 65, 65);
}

.logo {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    box-shadow: 1px 1px 5px 5px black;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 7vh;
    background: #1f1f1f;
}

.nav-links {
    display: flex;
    justify-content: space-around;
}

.nav-links li {
    padding: 15px 60px;
    display: inline-block;
    list-style: none;
}

i {
    color: rgb(220, 220, 220);
}

.nav-links a {
    text-decoration: none;
    letter-spacing: 4px;
    color: rgb(220, 220, 220);
}

.burger {
    display: none;
}

.burger div {
    width: 90px;
    height: 12px;
    background-color: rgb(220, 220, 220);
    margin: 15px;
}

@media screen and (max-width: 1024px) {
    body {
        display: none;
    }
}