:root {
    --mobile: 375px;
    --desktop: 1440px;

    --offwhite: rgb(220, 220, 220);

    font-family: sans-serif;
}

/* CSS RESET */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin, padding, and font inheritance */
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html, 
body {
    height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1;
}

/* Make images easier to work with */
img,
picture {
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* WEBSITE STYLING */

body {
  background-image: url('images/background.jpg');
  background-repeat: repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.logo {
  width: 3rem;
  aspect-ratio: 1;
  border-radius: 100%;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

header {
  /* for the glow on navbar */
  overflow: hidden;
}

.navbar {
  padding-block: .5rem;
  background: linear-gradient(to right, rgb(15, 15, 15), rgb(19, 19, 19), #202020);
}

.navigation--links {
  gap: 2rem;
}

.navigation--links li {
  list-style: none;
  position: relative;
  transition: text-shadow 150ms ease-in;
}

.navigation--links li::before {
  content: '';
  position: absolute;
  top: 1.2rem;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: var(--offwhite);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 100ms;
}

.navigation--links li:hover::before,
.navigation--links li:focus::before {
  transform: scaleX(1);
  transform-origin: left;
}

.navigation--links li {
  cursor: pointer;
  text-decoration: none;
  color: var(--offwhite);
  letter-spacing: .2rem;
  font-weight: 600;
}

i {
  color: var(--offwhite);
}

div.aboutme {
  background: rgb(45, 45, 45, 90%);
  margin: 0 auto;
  height: 100%;
  width: 65vw;
  padding: 1rem;
  color: var(--offwhite);
  backdrop-filter: blur(.2rem);

  display: flex;
  justify-content: center;
}

.active-page {
  text-shadow: 0 0 3.5em var(--offwhite);
}

 /* Showing and hiding page content  */
[data-content-block] { display: none; }
.active[data-content-block] { display: block; }

@media (max-width: 675px) {
  .logo {
    display: none;
  }

  div.aboutme {
    width: 85vw;
  }

  .navigation--links {
    flex-direction: column;
    gap: .5rem;
  }
}